:root {
  --carakube-1: #ebf9ff;
  --carakube-2: #d3efff;
  --carakube-3: #b0e3ff;
  --carakube-4: #7ad5ff;
  --carakube-5: #3cb9ff;
  --carakube-6: #0f95ff;
  --carakube-7: #0072ff;
  --carakube-8: #0059ff;
  --carakube-9: #0048d1;
  --carakube-10: #092862;
}

/* Make all interactive Radix components show pointer cursor */
.rt-Button,
.rt-IconButton,
.rt-Link {
  cursor: pointer;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  background: #f9f8f5;
}

main {
  width: 100%;
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:
    var(--font-ibm),
    -apple-system,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
