/* Make all interactive Radix components show pointer cursor */
.rt-Button,
.rt-IconButton,
.rt-Link {
  cursor: pointer;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #f9f8f5;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:
    var(--font-ibm),
    -apple-system,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
