.ibm {
  font-family: var(--font-ibm);
}

.jetbrain {
  font-family: var(--font-jetbrains);
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 400px;
  transition: padding-right 0.3s ease;
}

.sidebar-closed {
  padding-right: 50px;
}
