services:
  traefik:
    image: traefik:v3.6.2
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik/traefik.yml:/etc/traefik/traefik.yml:ro
      - traefik-certs:/certs
      - traefik-logs:/var/log/traefik
    networks:
      - traefik-proxy

  frontend:
    build:
      context: frontend
    restart: always
    networks:
      - traefik-proxy
    labels:
      # --- Traefik Labels ---
      - "traefik.enable=true"
      - "traefik.docker.network=traefik-proxy"

      # Define the router that handles HTTPS traffic for both www and non-www domains.
      - "traefik.http.routers.app-secure.rule=Host(`carakube.dev`) || Host(`www.carakube.dev`)"
      - "traefik.http.routers.app-secure.entrypoints=websecure"
      - "traefik.http.routers.app-secure.tls.certresolver=letsencrypt"
      - "traefik.http.routers.app-secure.service=app-service"

      # Define middlewares
      - "traefik.http.middlewares.web-compress.compress=true"
      - "traefik.http.middlewares.web-compress.compress.defaultEncoding=gzip"

      # Apply middlewares to the router.
      - "traefik.http.routers.app-secure.middlewares=web-compress"

      # Define the service and its internal port.
      - "traefik.http.services.app-service.loadbalancer.server.port=3000"

  cluster:
    build:
      context: ./kubernetes
    privileged: true
    volumes:
      - kubeconfig-data:/root/.kube
    networks:
      - carakube-net
      - traefik-proxy
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik-proxy"
      - "traefik.http.routers.demo-secure.rule=Host(`demo-deployment.carakube.dev`) || Host(`www.demo-deployment.carakube.dev`)"
      - "traefik.http.routers.demo-secure.entrypoints=websecure"
      - "traefik.http.routers.demo-secure.tls.certresolver=letsencrypt"
      - "traefik.http.routers.demo-secure.service=demo-service"
      - "traefik.http.services.demo-service.loadbalancer.server.port=8010"

  operator:
    build:
      context: ./operator
    depends_on:
      - cluster
    volumes:
      - kubeconfig-data:/kubeconfig:ro
    environment:
      - KUBECONFIG=/kubeconfig/config
    networks:
      - carakube-net
    ports:
      - "8000:8000"

volumes:
  traefik-certs:
  traefik-logs:
  kubeconfig-data:

networks:
  traefik-proxy:
    name: traefik-proxy
  carakube-net:
    driver: bridge
