services:
  frontend:
    build:
      context: frontend
    restart: always
    expose:
      - 3000 
    networks:
      - traefik
      - backend
    labels:
      # --- Traefik Labels ---
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"

      # Define the router that handles HTTPS traffic for both www and non-www domains.
      - "traefik.http.routers.app-secure.rule=Host(`carakube.dev`)"
      - "traefik.http.routers.app-secure.entrypoints=web,websecure"
      - "traefik.http.routers.app-secure.tls.certresolver=letsencrypt"
      - "traefik.http.routers.app-secure.service=app-service"

      # Define middlewares
      - "traefik.http.middlewares.web-compress.compress=true"
      - "traefik.http.middlewares.web-compress.compress.defaultEncoding=gzip"

      # Apply middlewares to the router.
      - "traefik.http.routers.app-secure.middlewares=web-compress"

      # Define the service and its internal port.
      - "traefik.http.services.app-service.loadbalancer.server.port=3000"
    security_opt:
      - label:disable

  cluster:
    build:
      context: ./kubernetes
    privileged: true
    volumes:
      - kubeconfig-data:/root/.kube
    networks:
      - carakube-net
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.demo-secure.rule=Host(`demo-deployment.carakube.dev`) || Host(`demo.carakube.dev`)"
      - "traefik.http.routers.demo-secure.entrypoints=web,websecure"
      - "traefik.http.routers.demo-secure.tls.certresolver=letsencrypt"
      - "traefik.http.routers.demo-secure.service=demo-service"
      - "traefik.http.services.demo-service.loadbalancer.server.port=8010"
    security_opt:
      - label:disable

  operator:
    build:
      context: ./operator
    depends_on:
      - cluster
    volumes:
      - kubeconfig-data:/kubeconfig:ro
    environment:
      - KUBECONFIG=/kubeconfig/config
      - ACCESS_TOKEN=${ACCESS_TOKEN:-access_token_not_set}
      - GEMINI_API_KEY=${GEMINI_API_KEY:-gemini_api_key_not_set}
      - REPO_OWNER=${REPO_OWNER:-SamuelLess}
      - REPO_NAME=${REPO_NAME:-hackatum-k8s-flux}
    networks:
      - carakube-net
      - backend
    security_opt:
      - label:disable

volumes:
  traefik-certs:
  traefik-logs:
  kubeconfig-data:

networks:
  backend:
  traefik:
    external: true
  carakube-net:
    driver: bridge
