.node {
  flex-shrink: 0; /* Prevent nodes from shrinking in the flex container */
  padding: 1rem 2rem;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: 1px solid #ddd;
  min-width: 100px;
  max-width: 250px;
  text-align: center;
  word-wrap: break-word;
  font-family: var(--font-ibm);
  z-index: 2;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  position: relative;
}

.node:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.node.selected {
  transform: scale(1.1);
  border-width: 3px;
  z-index: 10;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.vulnerabilityBadge {
  position: absolute;
  top: -8px;
  right: -8px;
  background: #dc2626;
  color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nodeType {
  position: absolute;
  top: -18px;
  left: 1;
  font-size: 0.7rem;
  color: #666;
  font-weight: 450;
  text-transform: lowercase;
  pointer-events: none;
}
