.sidebar {
  width: 350px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #ffffff;
  padding: 1rem;
  transition: width 0.3s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #e0e0e0;
}

.collapsedSidebar {
  width: 50px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  cursor: pointer;
  transition: width 0.3s ease;
  z-index: 1000;
  border-left: 1px solid #e0e0e0;
}

.header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.title {
  font-family: var(--font-crimson);
  font-size: 1.5rem;
  color: #000000;
  margin-bottom: 1rem;
}

.content {
  flex-grow: 1;
  overflow-y: auto;
  position: relative;
}

.content::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  pointer-events: none;
}

.footer {
  padding-top: 1rem;
  border-top: 1px solid #e0e0e0;
}

.bottomToggleButton {
  background: #f0f0f0;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  cursor: pointer;
  color: #000000;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
}

.buttomButtonCollapsed {
  margin: 0 auto;
}

.iconWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.badgeContainer {
  position: relative;
  display: flex;
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 10px;
  font-family: var(--font-jetbrains);
}

.critical {
  background-color: red;
}

.warning {
  background-color: orange;
}
