kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
networking:
  apiServerAddress: "0.0.0.0"
  apiServerPort: 6443
nodes:
  - role: control-plane
    extraPortMappings:
    - containerPort: 30010   # port on the kind node container
      hostPort: 8010         # port on the DinD "cluster" container
      listenAddress: "0.0.0.0"
      protocol: TCP

  - role: worker
